<h2>Tables</h2>
<table class="table">
  <thead>
    <tr>
      <th>Table number</th>
      <th>Max capacity</th>
      <th>Open Seats</th>
      <th>Maids</th>
      <th># of Goshujinsama</th>
      <th>time</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for table <- @tables do %>
    <tr>
      <td><%= table.table_number %></td>
      <td><%= table.max_capacity %></td>
      <td><%= if length(table.parties) > 0, do: table.max_capacity - Enum.reduce(table.parties, 0, fn(x, acc) -> if x.reservation do x.reservation.size + acc else acc end end) %></td>
      <td>
        <%= for party <- table.parties do %>
          <p><%= if party.reservation, do: party.reservation.maid.name %></p>
        <% end %>
      </td>
      <td>
        <%= for party <- table.parties do %>
          <p><%= if party.reservation, do: party.reservation.size %></p>
        <% end %>
      </td>
      <td>
        <%= for party <- table.parties do %>
          <p class="time<%= party.id %>"></p>
          <script>
            time = "<%= if party.reservation do party.reservation.time_in else nil end %>";
            if(time) {
              duration = moment.duration(moment().diff(time))
              formatted_duration = duration.isValid() ? [duration.hours(),('0' + duration.minutes()).slice(-2)].join(':') : ''
              formatted_time = duration.isValid() ? moment(time) : ''
              $('p.time<%= party.id %>').html(formatted_duration)
              $('p.time<%= party.id %>').prop('title',formatted_time)
            }
          </script>
        <% end %>
      </td>

      <td class="text-right">
        <span hidden><%= link "Show", to: table_path(@conn, :show, table), class: "btn btn-default btn-xs" %></span>
        <span><%= if length(table.parties) > 0 && (table.max_capacity - Enum.reduce(table.parties, 0, fn(x, acc) -> if x.reservation do x.reservation.size + acc else acc end end)) > 0 && Enum.any?(table.parties, fn(y) -> if y.reservation do false else true end end) do link "Book", to: "/reservations/new/#{table.id}", class: "btn btn-default btn-xs" end %></span>
        <span hidden><%= link "Edit", to: table_path(@conn, :edit, table), class: "btn btn-default btn-xs" %></span>
        <span hidden><%= link "Delete", to: table_path(@conn, :delete, table), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span hidden><%= link "New table", to: table_path(@conn, :new) %></span>
