<h2>Edit reservation</h2>

<%= render "form.html", changeset: @changeset,
                        action: reservation_path(@conn, :update, @reservation) %>

<span><%= link "Back", to: reservation_path(@conn, :index) %></span>
