<h2>Total Reservations</h2>
<div>
We have served <b><%= @goshujinsama %></b> goshujinsama and <b><%= @total_entries %></b> parties!
</div>
<%= if @total_pages > 1, do: render FanimaidButler.LayoutView, "pagination.html", url: @url, page_number: @page_number, total_pages: @total_pages %>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Size</th>
      <th>Shinkansen</th>
      <th>Staff</th>
      <th>Time in</th>
      <th>Time out</th>
      <th>Notes</th>
      <th>Maid</th>
      <th>Table #</th>
      <th>party id</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for reservation <- @reservations do %>
    <tr>
      <td><%= reservation.id %></td>
      <td><%= reservation.size %></td>
      <td><%= if reservation.shinkansen do %> <img src="/images/checkbox.png" height="20"> <% end %></td>
      <td><%= if reservation.staff do %> <img src="/images/checkbox.png" height="20"> <% end %></td>
      <td class="time_in<%= reservation.id %>"><%= reservation.time_in %></td>
      <td class="time_out<%= reservation.id %>"><%= reservation.time_out %></td>
      <td><%= reservation.notes %></td>
      <td><%= reservation.maid.name %></td>
      <td><%= reservation.table_number %></td>
      <td><%= if reservation.party do reservation.party.id end %></td>

      <td class="text-right">
        <span hidden><%= link "Show", to: reservation_path(@conn, :show, reservation), class: "btn btn-default btn-xs" %></span>
        <span hidden><%= link "Edit", to: reservation_path(@conn, :edit, reservation), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: reservation_path(@conn, :delete, reservation), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>

  <script>
    formatted_in = moment("<%= reservation.time_in %>").format('dddd [at] hh:mm a');
    formatted_out = '<%= reservation.time_out %>' ? moment("<%= reservation.time_out %>").format('dddd [at] hh:mm a') : '' ;
    $('td.time_in<%= reservation.id %>').html(formatted_in)
    $('td.time_out<%= reservation.id %>').html(formatted_out)
  </script>
<% end %>
  </tbody>
</table>
<%= if @total_pages > 1, do: render FanimaidButler.LayoutView, "pagination.html", url: @url, page_number: @page_number, total_pages: @total_pages %>
