<h2>New reservation for table <%= @table.table_number %></h2>

<%= render "form.html", maids: @maids,
                        table: @table,
                        changeset: @changeset,
                        action: reservation_path(@conn, :create) %>

<span><%= link "Back", to: table_path(@conn, :index) %></span>
